In [10]:
import requests
import pandas as pd
from pandas import json_normalize
import warnings
warnings.filterwarnings('ignore')

In [11]:
# De uma empresa em específico
url = 'https://www.b3.com.br/pt_br/market-data-e-indices/servicos-de-dados/market-data/consultas/mercado-a-vista/opcoes/posicoes-em-aberto/posicoes-em-aberto-8AE490C877D179740177DEC0BF4C5BD2.htm?empresaEmissora=WEG%20S.A.&data=11/11/2022&f=0'

r = requests.get(url)
r

#### Json direto da b3 funcionando

In [64]:
url = 'https://www.b3.com.br/json/20221111/Posicoes/Empresa/SI_C_OPCPOSABEMP.json'
r = requests.get(url)

data = json_normalize(r.json())
data

,Empresa.3,Empresa.A,Empresa.B,Empresa.C,Empresa.D,Empresa.E,Empresa.F,Empresa.G,Empresa.H,Empresa.I,...,Empresa.Q,Empresa.R,Empresa.S,Empresa.T,Empresa.U,Empresa.V,Empresa.W,Empresa.X,Empresa.Y,Empresa.Z
0,"[{'ser': 'RRRPA372', 'prEx': 37.25, 'nmEmp': '...","[{'ser': 'AERIC220', 'prEx': 2.2, 'nmEmp': 'AE...","[{'ser': 'B3SAA114', 'prEx': 11.39, 'nmEmp': '...","[{'ser': 'CXSEK110', 'prEx': 10.65, 'nmEmp': '...","[{'ser': 'DXCOA100', 'prEx': 10.0, 'nmEmp': 'D...","[{'ser': 'ECORA540', 'prEx': 5.4, 'nmEmp': 'EC...","[{'ser': 'FLRYA185', 'prEx': 18.5, 'nmEmp': 'F...","[{'ser': 'GFSAF160', 'prEx': 14.4, 'nmEmp': 'G...","[{'ser': 'HAPVA120', 'prEx': 12.0, 'nmEmp': 'H...","[{'ser': 'IGTIA215', 'prEx': 21.5, 'nmEmp': 'I...",...,"[{'ser': 'QUALA155', 'prEx': 15.5, 'nmEmp': 'Q...","[{'ser': 'RADLA240', 'prEx': 24.0, 'nmEmp': 'R...","[{'ser': 'STBPK100', 'prEx': 9.82, 'nmEmp': 'S...","[{'ser': 'TASAA150', 'prEx': 15.0, 'nmEmp': 'T...","[{'ser': 'UGPAA132', 'prEx': 13.25, 'nmEmp': '...","[{'ser': 'VALEA10', 'prEx': 78.41, 'nmEmp': 'V...","[{'ser': 'WEGEA204', 'prEx': 20.25, 'nmEmp': '...","[{'ser': 'XPBRK125', 'prEx': 125.0, 'nmEmp': '...","[{'ser': 'YDUQA115', 'prEx': 11.5, 'nmEmp': 'Y...","[{'ser': 'ZAMPA130', 'prEx': 13.0, 'nmEmp': 'Z..."

In [65]:
# Testando com uma coluna
json_normalize(data['Empresa.W'][0])

,ser,prEx,nmEmp,poCob,posDe,qtdClTit,posTr,posTo,qtdClLan,dtVen,tMerc,mer,espPap
0,WEGEA204,20.25,WEG S.A.,0.0,0.0,1.0,900.0,900.0,1.0,20230120,70,WEGE,ON NM
1,WEGEA232,23.00,WEG S.A.,0.0,0.0,1.0,100.0,100.0,1.0,20230120,70,WEGE,ON NM
2,WEGEA237,23.50,WEG S.A.,0.0,300.0,1.0,0.0,300.0,1.0,20230120,70,WEGE,ON NM
3,WEGEA252,25.00,WEG S.A.,0.0,0.0,1.0,1000.0,1000.0,1.0,20230120,70,WEGE,ON NM
4,WEGEA259,25.75,WEG S.A.,0.0,0.0,1.0,300.0,300.0,1.0,20230120,70,WEGE,ON NM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,WIZSX700,7.00,WIZ SOLUÇÕES E CORRETAGEM DE SEGUROS S.A.,0.0,19500.0,1.0,0.0,19500.0,6.0,20221216,80,WIZS,ON NM
342,WIZSX740,7.40,WIZ SOLUÇÕES E CORRETAGEM DE SEGUROS S.A.,0.0,123400.0,2.0,0.0,123400.0,45.0,20221216,80,WIZS,ON NM
343,WIZSX760,7.60,WIZ SOLUÇÕES E CORRETAGEM DE SEGUROS S.A.,0.0,300.0,1.0,700.0,1000.0,2.0,20221216,80,WIZS,ON NM
344,WIZSX780,7.80,WIZ SOLUÇÕES E CORRETAGEM DE SEGUROS S.A.,0.0,2000.0,1.0,0.0,2000.0,1.0,20221216,80,WIZS,ON NM
345,WIZSX800,8.00,WIZ SOLUÇÕES E CORRETAGEM DE SEGUROS S.A.,0.0,500.0,1.0,0.0,500.0,1.0,20221216,80,WIZS,ON NM

In [66]:
# Concatenando todas as empresas no json
final = pd.concat([json_normalize(data[empresa][0]) for empresa in data.columns], ignore_index=True)
final

,ser,prEx,nmEmp,poCob,posDe,qtdClTit,posTr,posTo,qtdClLan,dtVen,tMerc,mer,espPap
0,RRRPA372,37.25,3R PETROLEUM ÓLEO E GÁS S.A,0.0,8400.0,1.0,0.0,8400.0,1.0,20230120,70,RRRP,ON NM
1,RRRPA420,42.00,3R PETROLEUM ÓLEO E GÁS S.A,0.0,100.0,21.0,14400.0,14500.0,2.0,20230120,70,RRRP,ON NM
2,RRRPA449,45.00,3R PETROLEUM ÓLEO E GÁS S.A,0.0,503100.0,34.0,37700.0,540800.0,6.0,20230120,70,RRRP,ON NM
3,RRRPA450,65.00,3R PETROLEUM ÓLEO E GÁS S.A,0.0,2500.0,2.0,17500.0,20000.0,1.0,20230120,70,RRRP,ON NM
4,RRRPA455,60.00,3R PETROLEUM ÓLEO E GÁS S.A,0.0,0.0,2.0,12000.0,12000.0,1.0,20230120,70,RRRP,ON NM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18357,ZAMPL905,9.05,ZAMP S.A.,0.0,15000.0,1.0,0.0,15000.0,1.0,20221216,70,ZAMP,ON NM
18358,ZAMPL945,9.45,ZAMP S.A.,0.0,24500.0,1.0,0.0,24500.0,1.0,20221216,70,ZAMP,ON NM
18359,ZAMPM130,13.00,ZAMP S.A.,0.0,45800.0,1.0,0.0,45800.0,1.0,20230120,80,ZAMP,ON NM
18360,ZAMPW680,6.80,ZAMP S.A.,0.0,24000.0,2.0,0.0,24000.0,1.0,20221118,80,ZAMP,ON NM
18361,ZAMPW700,7.00,ZAMP S.A.,0.0,24000.0,1.0,0.0,24000.0,1.0,20221118,80,ZAMP,ON NM

In [67]:
# Comparar com o opções.net - aparentemente está faltando dados aqui